{% extends "interface.html" %}
       {% block content %}
       <div class="container">

       <form method="POST" class="post-form"enctype="multipart/form-data">
        {% csrf_token %}
   
      
       <input type="text" style="color: black" placeholder="Company Name" name="companyName"id="companyName" />
    
       <textarea  placeholder="Write your experience here !" name="companyExperience" id="companyExperience" style="height:25%;width:100%;color:black" ></textarea>
       <br>
       <br>
       <center> 
           <button type="submit" class="btn btn-success"style="width:100%;"><span style="">Save</span></button>
       </center>
   </form>











<br>
<br>
<br>



        <center><h3><b> COMPANIES </b>  </h3></center>

        {% for y in yea %}
        <a href="{% url 'InterviewPrep:companyExperience' companyName=y.companyName  %}">
       
        <div class="col s12 m8">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">{{ y.companyName }}</span>
             
            </div>
            
          
        </div>
      </div>
    
</a>


    {% endfor %} 
</div>
<br>


    {% endblock %}