{% extends "interface.html" %}

       {% block content %}






       <div class="container">
<h4>{{ subjectName }}</h4>
{% for i in subject %}
        <div class="col s12 m6">
              <div class="card grey lighten-2 ">
                <div class="card-content black-text ">
                  <span class="card-title">{{ i.topicHeading }}</span>
                  <p>{{ i.topicDescription }}</p>
                </div>
               
              </div>
            </div>
            {% endfor %}
          </div>



<br>






{% endblock %}